* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: #222222;
  color: #eeeeee;
}

#workspaces,
#window,
#cpu,
#memory,
#backlignt,
#pulseaudio,
#battery,
#clock,
#tray,

/*LEFT*/
#workspaces button {
  background-color: #222222;
  color: #444444;
}
#workspaces button:hover {
  color: #535d6c;
  background-color: #222222;
}
#workspaces button.active {
  background-color: #222222;
  color: #ffffff;
}
#workspaces button.urgent {
  background-color: #222222;
  color: #ff0000;
}
#window {
  color: #eeeeee;
}

/*RIGHT*/
#cpu {
  color: #eeeeee;
  margin-left: 4px;
  margin-right: 4px;
}
#memory {
  color: #eeeeee;
  margin-left: 4px;
  margin-right: 4px;
}
#backlignt {
  color: #eeeeee;
  margin-left: 4px;
  margin-right: 4px;
}
#pulseaudio {
  color: #eeeeee;
  margin-left: 4px;
  margin-right: 4px;
}
#battery {
  color: #eeeeee;
  margin-left: 4px;
  margin-right: 4px;
}
#clock {
  color: #eeeeee;
  margin-left: 4px;
  margin-right: 4px;
}
#tray {
  margin-left: 4px;
  margin-right: 4px;
}
