@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: #abb2bf;
  margin-left: 4px;
  margin-right: 4px;
}

body {
  color: #abb2bf;
  font-family: 'Segoe UI', ui-monospace, monospace;
  font-size: 12px;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: #1b1f27;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 4px 4px 4px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

/* LEFT */
.logo {
  background: #1b1f27;
  color: #de98fd;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: #1b1f27;
  color: #abb2bf;
  margin-left: 0px;
  margin-right: 0px;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: #1b1f27;
  }

  &.focused {
    background: #61afef;
    color: #1b1f27;
  }

  &:hover {
    background: #de98fd;
    color: #1b1f27;
  }
}

.title {
  background: #1b1f27;
  color: #abb2bf;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 0px;
}

/* RIGHT */
.binding-mode {
  background: #e7c787;
  color: #1b2f27;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
  border: 0;
  margin-left: 0px;
  margin-right: 8px;
}

.tiling-direction {
  background: #1b2f27;
  color: #e7c787;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
  border: 0;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 8px;
}

.cpu {
  margin-left: 0px;
  margin-right: 8px;
  background: #1b1f27;
  color: #e06c75;
}

.cpu i {
  margin-left: 0px;
  margin-right: 8px;
  background: #1b1f27;
  color: #e06c75;
}

.memory {
  margin-left: 0px;
  margin-right: 8px;
  background: #1b1f27;
  color: #de98fd;
}

.memory i {
  margin-left: 0px;
  margin-right: 8px;
  background: #1b1f27;
  color: #de98fd;
}

.battery {
  margin-left: 0px;
  margin-right: 8px;
  background: #1b1f27;
  color: #98c379;
}

.battery i {
  margin-left: 0px;
  margin-right: 8px;
  background: #1b1f27;
  color: #98c379;
}

.date {
  margin-left: 0px;
  margin-right: 8px;
  background: #1b1f27;
  color: #fca2aa;
}

.date i {
  margin-left: 0px;
  margin-right: 8px;
  background: #1b1f27;
  color: #fca2aa;
}
