@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: #cdd6f4;
  margin-left: 4px;
  margin-right: 4px;
}

body {
  color: #cdd6f4;
  font-family: 'Segoe UI', ui-monospace, monospace;
  font-size: 12px;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: #11111b;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 4px 4px 4px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

/* LEFT */
.logo {
  background: #11111b;
  color: #cba6f7;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: #11111b;
  color: #cdd6f4;
  margin-left: 0px;
  margin-right: 0px;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: #11111b;
  }

  &.focused {
    background: #89b4fa;
    color: #11111b;
  }

  &:hover {
    background: #f5e0dc;
    color: #11111b;
  }
}

.title {
  background: #11111b;
  color: #b4befe;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 0px;
}

/* RIGHT */
.binding-mode {
  background: #f9e2af;
  color: #11111b;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
  border: 0;
  margin-left: 0px;
  margin-right: 8px;
}

.tiling-direction {
  background: #11111b;
  color: #f9e2af;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
  border: 0;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 8px;
}

.cpu {
  margin-left: 0px;
  margin-right: 8px;
  background: #11111b;
  color: #f38ba8;
}

.cpu i {
  margin-left: 0px;
  margin-right: 8px;
  background: #11111b;
  color: #f38ba8;
}

.memory {
  margin-left: 0px;
  margin-right: 8px;
  background: #11111b;
  color: #fab387;
}

.memory i {
  margin-left: 0px;
  margin-right: 8px;
  background: #11111b;
  color: #fab387;
}

.battery {
  margin-left: 0px;
  margin-right: 8px;
  background: #11111b;
  color: #a6e3a1;
}

.battery i {
  margin-left: 0px;
  margin-right: 8px;
  background: #11111b;
  color: #a6e3a1;
}

.date {
  margin-left: 0px;
  margin-right: 8px;
  background: #11111b;
  color: #f9e2af;
}

.date i {
  margin-left: 0px;
  margin-right: 8px;
  background: #11111b;
  color: #f9e2af;
}
