* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: #11111b;
  color: #cdd6f4;
}

#workspaces,
#window,
#cpu,
#memory,
#backlignt,
#pulseaudio,
#battery,
#clock,
#tray,

/*LEFT*/
#workspaces button {
  background-color: #11111b;
  color: #a6adc8;
}
#workspaces button:hover {
  color: #cdd6f4;
  background-color: #11111b;
}
#workspaces button.active {
  background-color: #11111b;
  color: #cdd6f4;
}
#workspaces button.urgent {
  background-color: #11111b;
  color: #f38ba8;
}
#window {
  color: #cdd6f4;
}

/*RIGHT*/
#cpu {
  color: #f38ba8;
  margin-left: 4px;
  margin-right: 4px;
}
#memory {
  color: #fab387;
  margin-left: 4px;
  margin-right: 4px;
}
#backlignt {
  color: #f9e2af;
  margin-left: 4px;
  margin-right: 4px;
}
#pulseaudio {
  color: #89b4fa;
  margin-left: 4px;
  margin-right: 4px;
}
#battery {
  color: #a6e3a1;
  margin-left: 4px;
  margin-right: 4px;
}
#clock {
  color: #cba6f7;
  margin-left: 4px;
  margin-right: 4px;
}
#tray {
  margin-left: 4px;
  margin-right: 4px;
}
