@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  background: #1e1e2e;
  color: #cad3f5;
  font-size: 11px;
}

body {
  background: #1e1e2e;
  color: #cad3f5;
  font-family: 'Segoe UI', 'JetBrainsMono Nerd Font', ui-monospace, monospace;
  font-size: 11px;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: #1e1e2e;
  color: #cad3f5;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

/* LEFT */
.logo {
  border: 2px solid #494d64;
  border-radius: 4px;
  background: #3c3e4f;
  color: #a6da95;
  font-size: 13px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  border: 2px solid #494d64;
  border-radius: 4px;
  background: #3c3e4f;
  color: #cad3f5;
  cursor: pointer;
  padding: 4px;
  margin: 2px;

  &.displayed {
    border: 2px solid #494d64;
    border-radius: 4px;
    background: #3c3e4f;
    color: #cad3f5;
    padding: 4px;
  }

  &.focused {
    border: 2px solid #494d64;
    border-radius: 4px;
    background: #3c3e4f;
    color: #ed8796;
    padding: 4px;
  }
}

.title {
  background: #1e1e2e;
  color: #cad3f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 8px;
}

/* RIGHT */
.binding-mode {
  border: 2px solid #494d64;
  border-radius: 4px;
  background: #1e1e2e;
  color: #cad3f5;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.paused-button {
  border: 2px solid #494d64;
  border-radius: 4px;
  background: #1e1e2e;
  color: #cad3f5;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.tiling-direction {
  border: 2px solid #494d64;
  border-radius: 4px;
  background: #1e1e2e;
  color: #cad3f5;
  cursor: pointer;
  line-height: 1;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.network_down {
  background: #1e1e2e;
  color: #cad3f5;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #494d64;
  border-radius: 4px;
  padding: 4px;
}

.network_down i {
  background: #1e1e2e;
  color: #8aadf4;
  margin-right: 8px;
}

.network_up {
  background: #1e1e2e;
  color: #cad3f5;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #494d64;
  border-radius: 4px;
  padding: 4px;
}

.network_up i {
  background: #1e1e2e;
  color: #f4dbd6;
  margin-right: 8px;
}

.cpu {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #494d64;
  border-radius: 4px;
  padding: 4px;
}

.cpu .text {
  background: #1e1e2e;
  color: #cad3f5;
}

.cpu i {
  margin-right: 4px;
  color: #a6da95;
}

.cpu i.high {
  color: #ed8796;
}

.cpu i.medium {
  color: #f5a97f;
}

.cpu i.light {
  color: #eed49f;
}

.memory {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #494d64;
  border-radius: 4px;
  padding: 4px;
}

.memory .text {
  background: #1e1e2e;
  color: #cad3f5;
}

.memory i {
  margin-right: 4px;
  color: #a6da95;
}

.memory i.high {
  color: #ed8796;
}

.memory i.medium {
  color: #f5a97f;
}

.memory i.light {
  color: #eed49f;
}

.battery {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #494d64;
  border-radius: 4px;
  padding: 4px;
}

.battery .text {
  background: #1e1e2e;
  color: #cad3f5;
}

.battery i {
  margin-right: 4px;
  color: #ed8796;
}

.battery i.high {
  color: #a6da95;
}

.battery i.medium {
  color: #eed49f;
}

.battery i.light {
  color: #f5a97f;
}

.date {
  background: #1e1e2e;
  color: #cad3f5;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #494d64;
  border-radius: 4px;
  padding: 4px;
}

.date i {
  background: #1e1e2e;
  color: #cad3f5;
  margin-right: 4px;
}
