@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  background: #000000;
  color: #ffffff;
  font-size: 12px;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Segoe UI', 'JetBrainsMono Nerd Font', ui-monospace, monospace;
  font-size: 11px;
  font-weight: 500;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: #000000;
  color: #ffffff;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

/* LEFT */
.logo {
  background: #000000;
  color: #ffffff;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: #000000;
  border: 0;
  border-radius: 4px;
  color: #888888;
  cursor: pointer;
  font-weight: 600;
  padding: 4px 8px 4px 8px;

  &.displayed {
    border: 0;
    border-radius: 4px;
    background: #000000;
  }

  &.focused {
    border: 0;
    border-radius: 4px;
    background: #00ff00;
    color: #000000;
  }

  &:hover {
    border: 0;
    border-radius: 4px;
    background: #fff000;
    color: #000000;
  }
}

.title {
  background: #000000;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 600;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 8px;
}

/* RIGHT */
.binding-mode {
  background: #fff000;
  border: 0;
  border-radius: 4px;
  color: #000000;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.tiling-direction {
  background: #f0f0f0;
  border: 0;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  font-weight: 800;
  line-height: 1;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.cpu i {
  background: #000000;
  color: #ffc0cb;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}

.cpu {
  background: #000000;
  color: #ffc0cb;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}

.memory i {
  background: #000000;
  color: #FFA500;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}

.memory {
  background: #000000;
  color: #FFA500;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}

.battery i {
  background: #000000;
  color: #00ff00;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}

.battery {
  background: #000000;
  color: #00ff00;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}

.date i {
  background: #000000;
  color: #00ffff;
  margin-left: 4px;
  margin-right: 4px;
}

.date {
  background: #000000;
  color: #00ffff;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}
