* {
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 15px;
}
window#waybar {
  padding: 8px 8px 8px 8px;
  background: #1b1f27;
  border-radius: 4px;
  color: #abb2bf;
}
#workspaces button {
  background: #1b1f27;
  color: #abb2bf;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#workspaces button.active {
  background: #282c34;
  color: #61afef;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#cpu {
  background: #1b1f27;
  color: #e06c75;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#memory {
  background: #1b1f27;
  color: #a3b8ef;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#pulseaudio {
  background: #1b1f27;
  color: #fca2aa;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#pulseaudio.muted {
  background: #1b1f27;
  color: #fca2aa;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#backlight {
  background: #1b1f27;
  color: #e7c787;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#battery {
  background: #1b1f27;
  color: #7eca9c;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#battery.charging {
  background: #1b1f27;
  color: #7eca9c;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#battery.plugged {
  background: #1b1f27;
  color: #7eca9c;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#clock {
  background: #1b1f27;
  color: #81a1c1;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
#tray {
  background: #1e222a;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}
